.App{
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

}
.containerHome {
  border-radius: 5px;
  background-color: white;
  border-radius: 5px;
  border: solid 5px white;
  box-shadow: 0px 0px 20px rgba(14, 13, 13, 0.507);
}
.col123 {
  width: 30%;
}
.leftborder{

  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
  

  
    }
  
@media only screen and (max-width : 400px){

  .App{
    height: 100vh;
    background-image: radial-gradient( circle 972.6px at 10% 20%,  rgba(243,0,75,1) 0%, rgba(255,93,75,1) 90% );  
    padding-top: 0px;
  }

}

